<div class="col-md-8 remove-float mx-auto text-center big-top-space">
    <h1>{{ title }}</h1>
    <p>Hola mundo ! {{ title }}</p>
    <a href="login" class="right-space">Iniciar sesión</a>
    <a href="register">Crear cuenta</a>
</div>