<h1>{{ title }}</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Nombre de usuario" />
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Contraseña" />
    <input type="password" name="password_confirmation" placeholder="Confirmar contraseña" />
    <input type="submit" value="Crear cuenta" />
</form>